RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d


# RewriteRule ^(.*)$ index.php/$1 [L]

RewriteRule ^([a-zA-Z0-9/]+)$ index.php?name=$1

RewriteRule ^([a-zA-Z0-9/]+)$ ajax.php?action=$1

<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php
</IfModule>



