.carousel {
    width: 100%;
    .slide-container {
        /*max-width: 1000px;*/
        height: 70vh;
        min-height: 50vh;
        position: relative;
        .slide {
            display: none;
            background: rgba($white, 0.4);
            z-index: 1;
            position: relative;
            height: 100%;
            width: 100%;
            img {
                width: 100%;
                min-height: 100%;
                display: block;
                position: absolute;
                bottom: 0;
                right: 0;
                top: 0;
                z-index: 10;
            }
            .body {
                position: absolute;
                top: 20%;
                left: 10%;
                width: 50%;
                z-index: 100;
                padding: 0 1rem;
                span {
                    color: $info;
                    &.price {
                        color: $danger;
                    }
                }
                p {
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 1.4rem;
                    margin: .5rem 0;
                }
            }
            &.active {
                -webkit-animation-name: fade;
                -webkit-animation-duration: 1.5s;
                animation-name: fade;
                animation-duration: 1.5s;
            }
        }
        .options {
            z-index: 1000;
            text-align: left;
            left: 20%;
            bottom: 5%;
            position: absolute;
            .dot {
                cursor: pointer;
                height: 15px;
                width: 15px;
                margin: 0 2px;
                background-color: #bbb;
                border-radius: 50%;
                display: inline-block;
                transition: all .5s ease;
                &.active {
                    border-radius: 16px;
                    background-color: $warning;
                    width: 30px;
                }
                &:hover {
                    background-color: $warning;
                }
            }
        }
    }
}
/*style products*/
/**/