.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 8.333333333334%;
}
@for $i from 1 through 12 {
    .col-#{$i} {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 8.333333333334% * $i;
        flex: 0 0 8.333333333334% * $i;
        width: 8.333333333334% * $i;
    }
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding: 10px;
}
.m-0 {
    margin: 0;
}
$columns :12;
.col-1 {
    flex-basis: 8.333%;
}
.col-2 {
    flex-basis: 16.666%;
}
.col-3 {
    flex-basis: 25%;
}
.col-4 {
    flex-basis: 33.333%;
}
.col-5 {
    flex-basis: 41.666%;
}
.col-6 {
    flex-basis: 50%;
}
@media (max-width: 575.92px) {
    .row {
        padding: 0;
    }
    @for $width from 1 through $columns {
        .col-sm-#{$width}, .col-md-#{$width}, .col-lg-#{$width}, .col-xl-#{$width} {
            flex-basis: 80%;
            margin: 0 auto;
        }
    }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    @for $width from 1 through $columns {
        .col-sm-#{$width} {
            flex-basis: $width / $columns * 100%;
        }
    }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    @for $width from 1 through $columns {
        .col-md-#{$width} {
            flex-basis: $width / $columns * 100%;
        }
    }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    @for $width from 1 through $columns {
        .col-lg-#{$width} {
            flex-basis: $width / $columns * 100%;
        }
    }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    @for $width from 1 through $columns {
        .col-xl-#{$width} {
            flex-basis: $width / $columns * 100%;
        }
    }
}
.d-block {
    display: block;
}
.d-flex {
    display: flex;
}
.d-inline-flex {
    display: inline-flex;
}
.d-inline-block {
    display: inline-block;
}
.d-none {
    display: none;
}
.justify-content-start {
    justify-content: flex-start;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-around {
    justify-content: space-around;
}
.justify-content-end {
    justify-content: flex-end;
}
.align-items-center {
    align-items: center;
}
.align-items-start {
    justify-content: flex-start;
}
.align-items-end {
    justify-content: flex-end;
}
/*spacing margin & padding */

$spacin :0.25rem;
$spacinSize:5;

@for $i from 0 through $spacinSize {
    @if $i>=3 {
        $spacin: 0.6rem;
    }
    .p-#{$i} {
        padding: $spacin * $i;
    }
    .pt-#{$i}, .py-#{$i} {
        padding-top: $spacin * $i;
    }
    .pb-#{$i}, .py-#{$i} {
        padding-bottom: $spacin * $i;
    }
    .pr-#{$i}, .px-#{$i} {
        padding-right: $spacin * $i;
    }
    .pl-#{$i}, .px-#{$i} {
        padding-left: $spacin * $i;
    }
}
@media (min-width: 576px) {
    @for $i from 1 through $spacinSize {
        .p-sm-#{$i} {
            padding: $spacin * $i;
        }
        .pt-sm-#{$i}, .py-sm-#{$i} {
            padding-top: $spacin * $i;
        }
        .pb-sm-#{$i}, .py-sm-#{$i} {
            padding-bottom: $spacin * $i;
        }
        .pr-sm-#{$i}, .px-sm-#{$i} {
            padding-right: $spacin * $i;
        }
        .pl-sm-#{$i}, .px-sm-#{$i} {
            padding-left: $spacin * $i;
        }
    }
}
/*style margin*/

@for $i from 0 through $spacinSize {
    .m-#{$i} {
        margin: $spacin * $i;
    }
    .mt-#{$i}, .my-#{$i} {
        margin-top: $spacin * $i;
    }
    .mb-#{$i}, .my-#{$i} {
        margin-bottom: $spacin * $i;
    }
    .mr-#{$i}, .mx-#{$i} {
        margin-right: $spacin * $i;
    }
    .ml-#{$i}, .mx-#{$i} {
        margin-left: $spacin * $i;
    }
}
@media (min-width: 576px) {
    @for $i from 1 through $spacinSize {
        .m-sm-#{$i} {
            margin: $spacin * $i;
        }
        .mt-sm-#{$i}, .my-sm-#{$i} {
            margin-top: $spacin * $i;
        }
        .mb-sm-#{$i}, .my-sm-#{$i} {
            margin-bottom: $spacin * $i;
        }
        .mr-sm-#{$i}, .mx-sm-#{$i} {
            margin-right: $spacin * $i;
        }
        .ml-sm-#{$i}, .mx-sm-#{$i} {
            margin-left: $spacin * $i;
        }
    }
}