@import 'colors';
/* style navbar */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1rem;
    height: 4vh;
    background: $warning;
    padding: 1.5rem 2rem;
    border-top: .8px solid rgba($dark, 0.2);
    .container {
        display: flex;
        justify-content: flex-start;
        &.center {
            justify-content: center;
        }
        ul#category-list {
            width: 25%;
            min-width: 200px;
            position: relative;
            >li {
                padding: 0 3rem 0 1.5rem;
                &:hover {
                    background: rgba($white, 0.2);
                    border-radius: 4px;
                    cursor: pointer;
                    font-weight: 600;
                }
            }
            &:hover .list-container {
                display: block;
            }
            .list-container {
                display: none;
                position: absolute;
                top: 7.8vh;
                padding: .5rem 0;
                border-bottom-right-radius: 4px;
                border-bottom-left-radius: 4px;
                background: $white;
                box-shadow: 0px 3px 12px 0px rgba(black, 0.2);
                z-index: 3000;
                >ul {
                    display: block;
                    min-width: 200px;
                    height: auto;
                    li {
                        padding: 0 1.5rem;
                        line-height: 2rem;
                        &:hover {
                            background: rgba($warning, 0.7);
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        ul {
            height: 8vh;
            display: flex;
            li {
                line-height: 8vh;
                padding: 0 1rem;
                a {
                    text-decoration: none;
                    color: $dark;
                    font-size: 1.2rem;
                    font-weight: 300;
                    transition: all .1s ease;
                    &:hover {
                        font-weight: 600;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .search {
        width: 50%;
        .form {
            display: flex;
            background: $white;
            border-radius: 4px;
            overflow: hidden;
            input, button, select {
                background: transparent;
                border: 0px;
                border-radius: 0px;
                cursor: pointer;
                outline: none;
            }
            select {
                width: auto;
                border-right: .5px solid rgba($grey, 0.7);
                padding-right: .3rem;
            }
            input {
                cursor: initial;
            }
            button {
                padding: 0 1.5rem;
                background: $dark;
                color: $white;
            }
        }
    }
}
/*style bottom navigation*/

.bottom-nav {
    display: none;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    width: 100%;
    background: white;
    border-top: 1px solid rgba($grey, 0.2);
    padding: .5rem 0;
    ul {
        display: flex;
        position: relative;
        li {
            line-height: 1rem;
            width: calc(100% / 4);
            text-align: center;
            span, a {
                display: block;
                cursor: pointer;
            }
            >a {
                text-decoration: none;
                color: $dark;
                transition: all .5s ease;
                font-size: 13px;
                &:hover {
                    color: $warning;
                }
            }
            span, i {
                font-size: 20px;
            }
            .content-category {
                position: absolute;
                bottom: 7vh;
                width: 100%;
                left: 0;
                padding: .5rem 0;
                background: white;
                #container-categories {
                    width: 40%;
                    text-align: left;
                    margin: 0 auto;
                    .custom-checkbox {
                        line-height: 2rem;
                    }
                }
            }
        }
    }
}
// midium size
@media screen and (max-width: $size-md) {
    .navbar {
        display: none;
    }
}
// small size
@media screen and (max-width: $size-sm) {
    .bottom-nav {
        display: block;
    }
}