@import 'colors';
body {
    margin: 0 auto;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
*, ::after, ::before {
    box-sizing: border-box;
}
/*style containers*/

.modal {
    display: none;
}
body.open-modal {
    .modal {
        position: fixed;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .5s ease;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: rgba($dark, 0.3);
        z-index: 2000;
        .modal-content {
            position: relative;
            display: block;
            width: 80%;
            min-height: 10%;
            height: 70vh;
            max-width: 1000px;
            max-height: 500px;
            background: white;
            /*border-radius: 8px;*/
            box-shadow: 0 3px 8px 0px rgba(108, 117, 125, 0.3), 2px 3px 3px rgba(108, 117, 125, 0.2);
            padding: 1rem;
            button {
                position: absolute;
                top: 8px;
                right: 8px;
                border: 0;
                background: transparent;
                cursor: pointer;
                i {
                    font-size: 1.3rem;
                    color: #5a5a5a;
                }
            }
        }
    }
}
.grid {
    .icon {
        font-size: 2rem;
        color: $warning;
    }
    strong {
        font-size: 1.4rem;
    }
    p {
        margin: 0;
    }
}
a {
    text-decoration: none;
    cursor: pointer;
}
.pointer {
    cursor: pointer;
}
.border {
    border: 1px solid rgba($grey, 0.4);
}
.container-flud {
    width: 100%;
    padding: 2rem;
    .grid {
        width: 90%;
        margin: 0 auto;
    }
}
input.number[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input {
    outline: none;
    &.round {
        border-radius: 36px;
        overflow: hidden;
    }
    &:focus {
        border: 1.5px solid rgba($primary, 0.5);
    }
}
@mixin button-shadow ($color) {
    box-shadow: 2px 5px 10px rgba($color, 0.2);
}
@mixin button-shadow-hover ($color) {
    box-shadow: 0 3px 8px 0px rgba($color, 0.3), 2px 3px 3px rgba($color, 0.3);
}
ul {
    margin: 0;
    list-style: none;
    padding: 0;
}
hr {
    display: block;
    margin: 0.5rem 0rem;
    border: .1px solid #efefef;
}
.button {
    display: inline-block;
    padding: 6px 20px;
    margin: 5px;
    color: $dark;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 4px;
    background: $light;
    @include button-shadow($grey);
    position: relative;
    overflow: hidden;
    user-select: none;
    text-align: center;
    &:hover {
        box-shadow: 2px 5px 10px rgba($grey, 0.3);
    }
    &.round {
        border-radius: 36px;
        padding: 6px 26px;
    }
}
@each $name, $color in $colors {
    .bg-#{$name} {
        background: $color;
    }
    .text-#{$name} {
        color: $color;
    }
    .button.#{$name} {
        background: $color;
        @include button-shadow($color);
        color: white;
        &:hover {
            @include button-shadow-hover($color);
        }
    }
}
.text-white {
    color: white;
}
.btn-sm {
    padding: 4px 10px;
    font-size: 14px;
}
.select, .input, .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.uppercase {
    text-transform: uppercase;
}
.lowercase {
    text-transform: lowercase;
}
.center {
    text-align: center;
    justify-content: center;
}
.left {
    text-align: left;
    justify-content: flex-start;
}
.right {
    text-align: right;
    justify-content: flex-end;
}
/*css grid*/

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 15px;
}
$gridSize: 12;
@for $i from 1 through $gridSize {
    .grid-#{$i} {
        grid-column: span ($i);
    }
}
@media only screen and (min-width: 576px) {
    @for $i from 1 through $gridSize {
        .grid-sm-#{$i} {
            grid-column: span ($i);
        }
    }
}
@media screen and (min-width: 768px) {
    @for $i from 1 through $gridSize {
        .grid-md-#{$i} {
            grid-column: span ($i);
        }
    }
}
@media (min-width: 992px) {
    @for $i from 1 through $gridSize {
        .grid-lg-#{$i} {
            grid-column: span ($i);
        }
    }
}
@media (min-width: 1200px) {
    @for $i from 1 through $gridSize {
        .grid-xl-#{$i} {
            grid-column: span ($i);
        }
    }
}
/*custom style radio & checkbox*/

.custom-checkbox {
    margin: .3rem 0;
    user-select: none;
    label {
        position: relative;
        display: block;
        margin-left: 1.5rem;
        &:before {
            position: absolute;
            width: 20px;
            height: 20px;
            display: block;
            content: "";
            left: -1.5rem;
            top: 0;
            background: rgba($dark, 0.2);
            color: white;
            padding: .5rem;
            border-radius: 4px;
            font-size: 13px;
        }
    }
    input {
        display: none;
        &:hover {
            background: rgba(#9faab7, 0.6);
        }
        &:checked~label {
            &:before {
                content: "\2713";
                background: $primary;
                color: white;
                padding: 0 5px;
            }
            &:after {
                background: $primary;
            }
        }
        &.radio {
            border-radius: 50%;
        }
        &:after {
            border-radius: 50%;
        }
    }
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background: rgba(251, 244, 244, 0.25);
    border-radius: 16px;
}
::-webkit-scrollbar-thumb {
    background: #afafaf;
}
/*custom table style*/

.content {
    padding: 1rem;
    .table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 1rem;
        color: #212529;
        td, th {
            border-bottom: 1px solid #ddd;
            padding: 8px;
        }
        tr:hover {
            background-color: rgba($grey, 0.04);
        }
        th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
        }
        td {
            &.img {
                max-width: 60px;
            }
            &.quantity {
                text-align: center;
                input {
                    max-width: 70px;
                    text-align: center;
                }
            }
        }
    }
    .cart-totals, .checkout-totals {
        border: 6px solid #ebebeb;
        padding: 1rem;
        h2 {
            padding-bottom: .3rem;
            border-bottom: 2px solid rgba(grey, 0.5);
            display: block;
        }
        table td {
            &.border-0 {
                border: 0;
            }
            &:nth-child(2) {
                text-align: right;
            }
        }
    }
    .checkout-details h2, .cart-totals h2, .checkout-totals h2 {
        font-weight: 600;
    }
}
/*style checkout-details  */

#checkout {
    input#login {
        display: none;
        &~.form-singin {
            display: none;
            transition: all .5s ease;
        }
        &~.form-biling .custom-checkbox {
            display: block;
        }
        &:checked {
            &~.form-singin {
                display: block;
            }
            &~.form-biling .custom-checkbox {
                display: none;
            }
        }
    }
}