@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  margin: 0;
}

body {
  margin: 0 auto;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

*, ::after, ::before {
  box-sizing: border-box;
}

/*style containers*/
.modal {
  display: none;
}

body.open-modal .modal {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(52, 58, 64, 0.3);
  z-index: 2000;
}
body.open-modal .modal .modal-content {
  position: relative;
  display: block;
  width: 80%;
  min-height: 10%;
  height: 70vh;
  max-width: 1000px;
  max-height: 500px;
  background: white;
  /*border-radius: 8px;*/
  box-shadow: 0 3px 8px 0px rgba(108, 117, 125, 0.3), 2px 3px 3px rgba(108, 117, 125, 0.2);
  padding: 1rem;
}
body.open-modal .modal .modal-content button {
  position: absolute;
  top: 8px;
  right: 8px;
  border: 0;
  background: transparent;
  cursor: pointer;
}
body.open-modal .modal .modal-content button i {
  font-size: 1.3rem;
  color: #5a5a5a;
}

.grid .icon {
  font-size: 2rem;
  color: #fcb800;
}
.grid strong {
  font-size: 1.4rem;
}
.grid p {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.border {
  border: 1px solid rgba(108, 117, 125, 0.4);
}

.container-flud {
  width: 100%;
  padding: 2rem;
}
.container-flud .grid {
  width: 90%;
  margin: 0 auto;
}

input.number[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input {
  outline: none;
}
input.round {
  border-radius: 36px;
  overflow: hidden;
}
input:focus {
  border: 1.5px solid rgba(66, 133, 244, 0.5);
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

hr {
  display: block;
  margin: 0.5rem 0rem;
  border: 0.1px solid #efefef;
}

.button {
  display: inline-block;
  padding: 6px 20px;
  margin: 5px;
  color: #343a40;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  border-radius: 4px;
  background: #f8f9fa;
  box-shadow: 2px 5px 10px rgba(108, 117, 125, 0.2);
  position: relative;
  overflow: hidden;
  user-select: none;
  text-align: center;
}
.button:hover {
  box-shadow: 2px 5px 10px rgba(108, 117, 125, 0.3);
}
.button.round {
  border-radius: 36px;
  padding: 6px 26px;
}

.bg-primary {
  background: #4285f4;
}

.text-primary {
  color: #4285f4;
}

.button.primary {
  background: #4285f4;
  box-shadow: 2px 5px 10px rgba(66, 133, 244, 0.2);
  color: white;
}
.button.primary:hover {
  box-shadow: 0 3px 8px 0px rgba(66, 133, 244, 0.3), 2px 3px 3px rgba(66, 133, 244, 0.3);
}

.bg-success {
  background: #20c997;
}

.text-success {
  color: #20c997;
}

.button.success {
  background: #20c997;
  box-shadow: 2px 5px 10px rgba(32, 201, 151, 0.2);
  color: white;
}
.button.success:hover {
  box-shadow: 0 3px 8px 0px rgba(32, 201, 151, 0.3), 2px 3px 3px rgba(32, 201, 151, 0.3);
}

.bg-warning {
  background: #fcb800;
}

.text-warning {
  color: #fcb800;
}

.button.warning {
  background: #fcb800;
  box-shadow: 2px 5px 10px rgba(252, 184, 0, 0.2);
  color: white;
}
.button.warning:hover {
  box-shadow: 0 3px 8px 0px rgba(252, 184, 0, 0.3), 2px 3px 3px rgba(252, 184, 0, 0.3);
}

.bg-blue {
  background: #4b7bec;
}

.text-blue {
  color: #4b7bec;
}

.button.blue {
  background: #4b7bec;
  box-shadow: 2px 5px 10px rgba(75, 123, 236, 0.2);
  color: white;
}
.button.blue:hover {
  box-shadow: 0 3px 8px 0px rgba(75, 123, 236, 0.3), 2px 3px 3px rgba(75, 123, 236, 0.3);
}

.bg-danger {
  background: #ff818d;
}

.text-danger {
  color: #ff818d;
}

.button.danger {
  background: #ff818d;
  box-shadow: 2px 5px 10px rgba(255, 129, 141, 0.2);
  color: white;
}
.button.danger:hover {
  box-shadow: 0 3px 8px 0px rgba(255, 129, 141, 0.3), 2px 3px 3px rgba(255, 129, 141, 0.3);
}

.bg-secondary {
  background: #6c757d;
}

.text-secondary {
  color: #6c757d;
}

.button.secondary {
  background: #6c757d;
  box-shadow: 2px 5px 10px rgba(108, 117, 125, 0.2);
  color: white;
}
.button.secondary:hover {
  box-shadow: 0 3px 8px 0px rgba(108, 117, 125, 0.3), 2px 3px 3px rgba(108, 117, 125, 0.3);
}

.bg-dark {
  background: #343a40;
}

.text-dark {
  color: #343a40;
}

.button.dark {
  background: #343a40;
  box-shadow: 2px 5px 10px rgba(52, 58, 64, 0.2);
  color: white;
}
.button.dark:hover {
  box-shadow: 0 3px 8px 0px rgba(52, 58, 64, 0.3), 2px 3px 3px rgba(52, 58, 64, 0.3);
}

.bg-grey {
  background: #6c757d;
}

.text-grey {
  color: #6c757d;
}

.button.grey {
  background: #6c757d;
  box-shadow: 2px 5px 10px rgba(108, 117, 125, 0.2);
  color: white;
}
.button.grey:hover {
  box-shadow: 0 3px 8px 0px rgba(108, 117, 125, 0.3), 2px 3px 3px rgba(108, 117, 125, 0.3);
}

.bg-info {
  background: #33b5e5;
}

.text-info {
  color: #33b5e5;
}

.button.info {
  background: #33b5e5;
  box-shadow: 2px 5px 10px rgba(51, 181, 229, 0.2);
  color: white;
}
.button.info:hover {
  box-shadow: 0 3px 8px 0px rgba(51, 181, 229, 0.3), 2px 3px 3px rgba(51, 181, 229, 0.3);
}

.bg-light {
  background: #f8f9fa;
}

.text-light {
  color: #f8f9fa;
}

.button.light {
  background: #f8f9fa;
  box-shadow: 2px 5px 10px rgba(248, 249, 250, 0.2);
  color: white;
}
.button.light:hover {
  box-shadow: 0 3px 8px 0px rgba(248, 249, 250, 0.3), 2px 3px 3px rgba(248, 249, 250, 0.3);
}

.text-white {
  color: white;
}

.btn-sm {
  padding: 4px 10px;
  font-size: 14px;
}

.select, .input, .form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.center {
  text-align: center;
  justify-content: center;
}

.left {
  text-align: left;
  justify-content: flex-start;
}

.right {
  text-align: right;
  justify-content: flex-end;
}

/*css grid*/
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 15px;
}

.grid-1 {
  grid-column: span 1;
}

.grid-2 {
  grid-column: span 2;
}

.grid-3 {
  grid-column: span 3;
}

.grid-4 {
  grid-column: span 4;
}

.grid-5 {
  grid-column: span 5;
}

.grid-6 {
  grid-column: span 6;
}

.grid-7 {
  grid-column: span 7;
}

.grid-8 {
  grid-column: span 8;
}

.grid-9 {
  grid-column: span 9;
}

.grid-10 {
  grid-column: span 10;
}

.grid-11 {
  grid-column: span 11;
}

.grid-12 {
  grid-column: span 12;
}

@media only screen and (min-width: 576px) {
  .grid-sm-1 {
    grid-column: span 1;
  }

  .grid-sm-2 {
    grid-column: span 2;
  }

  .grid-sm-3 {
    grid-column: span 3;
  }

  .grid-sm-4 {
    grid-column: span 4;
  }

  .grid-sm-5 {
    grid-column: span 5;
  }

  .grid-sm-6 {
    grid-column: span 6;
  }

  .grid-sm-7 {
    grid-column: span 7;
  }

  .grid-sm-8 {
    grid-column: span 8;
  }

  .grid-sm-9 {
    grid-column: span 9;
  }

  .grid-sm-10 {
    grid-column: span 10;
  }

  .grid-sm-11 {
    grid-column: span 11;
  }

  .grid-sm-12 {
    grid-column: span 12;
  }
}
@media screen and (min-width: 768px) {
  .grid-md-1 {
    grid-column: span 1;
  }

  .grid-md-2 {
    grid-column: span 2;
  }

  .grid-md-3 {
    grid-column: span 3;
  }

  .grid-md-4 {
    grid-column: span 4;
  }

  .grid-md-5 {
    grid-column: span 5;
  }

  .grid-md-6 {
    grid-column: span 6;
  }

  .grid-md-7 {
    grid-column: span 7;
  }

  .grid-md-8 {
    grid-column: span 8;
  }

  .grid-md-9 {
    grid-column: span 9;
  }

  .grid-md-10 {
    grid-column: span 10;
  }

  .grid-md-11 {
    grid-column: span 11;
  }

  .grid-md-12 {
    grid-column: span 12;
  }
}
@media (min-width: 992px) {
  .grid-lg-1 {
    grid-column: span 1;
  }

  .grid-lg-2 {
    grid-column: span 2;
  }

  .grid-lg-3 {
    grid-column: span 3;
  }

  .grid-lg-4 {
    grid-column: span 4;
  }

  .grid-lg-5 {
    grid-column: span 5;
  }

  .grid-lg-6 {
    grid-column: span 6;
  }

  .grid-lg-7 {
    grid-column: span 7;
  }

  .grid-lg-8 {
    grid-column: span 8;
  }

  .grid-lg-9 {
    grid-column: span 9;
  }

  .grid-lg-10 {
    grid-column: span 10;
  }

  .grid-lg-11 {
    grid-column: span 11;
  }

  .grid-lg-12 {
    grid-column: span 12;
  }
}
@media (min-width: 1200px) {
  .grid-xl-1 {
    grid-column: span 1;
  }

  .grid-xl-2 {
    grid-column: span 2;
  }

  .grid-xl-3 {
    grid-column: span 3;
  }

  .grid-xl-4 {
    grid-column: span 4;
  }

  .grid-xl-5 {
    grid-column: span 5;
  }

  .grid-xl-6 {
    grid-column: span 6;
  }

  .grid-xl-7 {
    grid-column: span 7;
  }

  .grid-xl-8 {
    grid-column: span 8;
  }

  .grid-xl-9 {
    grid-column: span 9;
  }

  .grid-xl-10 {
    grid-column: span 10;
  }

  .grid-xl-11 {
    grid-column: span 11;
  }

  .grid-xl-12 {
    grid-column: span 12;
  }
}
/*custom style radio & checkbox*/
.custom-checkbox {
  margin: 0.3rem 0;
  user-select: none;
}
.custom-checkbox label {
  position: relative;
  display: block;
  margin-left: 1.5rem;
}
.custom-checkbox label:before {
  position: absolute;
  width: 20px;
  height: 20px;
  display: block;
  content: "";
  left: -1.5rem;
  top: 0;
  background: rgba(52, 58, 64, 0.2);
  color: white;
  padding: 0.5rem;
  border-radius: 4px;
  font-size: 13px;
}
.custom-checkbox input {
  display: none;
}
.custom-checkbox input:hover {
  background: rgba(159, 170, 183, 0.6);
}
.custom-checkbox input:checked ~ label:before {
  content: "✓";
  background: #4285f4;
  color: white;
  padding: 0 5px;
}
.custom-checkbox input:checked ~ label:after {
  background: #4285f4;
}
.custom-checkbox input.radio {
  border-radius: 50%;
}
.custom-checkbox input:after {
  border-radius: 50%;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(251, 244, 244, 0.25);
  border-radius: 16px;
}

::-webkit-scrollbar-thumb {
  background: #afafaf;
}

/*custom table style*/
.content {
  padding: 1rem;
}
.content .table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}
.content .table td, .content .table th {
  border-bottom: 1px solid #ddd;
  padding: 8px;
}
.content .table tr:hover {
  background-color: rgba(108, 117, 125, 0.04);
}
.content .table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}
.content .table td.img {
  max-width: 60px;
}
.content .table td.quantity {
  text-align: center;
}
.content .table td.quantity input {
  max-width: 70px;
  text-align: center;
}
.content .cart-totals, .content .checkout-totals {
  border: 6px solid #ebebeb;
  padding: 1rem;
}
.content .cart-totals h2, .content .checkout-totals h2 {
  padding-bottom: 0.3rem;
  border-bottom: 2px solid rgba(128, 128, 128, 0.5);
  display: block;
}
.content .cart-totals table td.border-0, .content .checkout-totals table td.border-0 {
  border: 0;
}
.content .cart-totals table td:nth-child(2), .content .checkout-totals table td:nth-child(2) {
  text-align: right;
}
.content .checkout-details h2, .content .cart-totals h2, .content .checkout-totals h2 {
  font-weight: 600;
}

/*style checkout-details  */
#checkout input#login {
  display: none;
}
#checkout input#login ~ .form-singin {
  display: none;
  transition: all 0.5s ease;
}
#checkout input#login ~ .form-biling .custom-checkbox {
  display: block;
}
#checkout input#login:checked ~ .form-singin {
  display: block;
}
#checkout input#login:checked ~ .form-biling .custom-checkbox {
  display: none;
}

header.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1rem;
  height: 14vh;
  background: #fcb800;
  padding: 0 2rem;
}
header.header .logo {
  max-width: 200px;
  width: 20%;
}
header.header .logo img {
  width: 100%;
}
header.header .content-search {
  width: 50%;
}
header.header .content-search .form-search {
  display: flex;
  background: #fff;
  border-radius: 36px;
  overflow: hidden;
}
header.header .content-search .form-search input, header.header .content-search .form-search button, header.header .content-search .form-search select {
  background: transparent;
  border: 0px;
  border-radius: 0px;
  cursor: pointer;
  outline: none;
}
header.header .content-search .form-search select {
  width: auto;
  border-right: 0.5px solid rgba(108, 117, 125, 0.7);
  padding-right: 0.3rem;
}
header.header .content-search .form-search input {
  cursor: initial;
}
header.header .content-search .form-search button {
  padding: 0 1.5rem;
  background: #343a40;
  color: #fff;
}
header.header .account {
  max-width: 40%;
}
header.header .account ul {
  display: flex;
}
header.header .account ul li {
  margin: 0 0.6rem;
}
header.header .account ul li a {
  color: #343a40;
}
header.header .account ul li a i {
  font-size: 1.8rem;
  transition: all 0.2s ease;
}
header.header .account ul li a i:hover {
  color: #fff;
}
header.header .account .menu {
  display: none;
}
header.header .account .menu ul {
  display: none;
}
header.header .account .search {
  display: none;
}

@media screen and (max-width: 767.98px) {
  .header {
    position: relative;
    height: 10vh;
    /*style search box*/
  }
  .header .logo {
    width: 30%;
  }
  .header .account {
    display: flex;
    height: 5vh;
    max-width: 60%;
  }
  .header .content-search {
    display: none;
  }
  .header .menu {
    display: flex !important;
    width: 50px;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
  }
  .header .menu__checkbox {
    display: none;
  }
  .header .menu__checkbox:checked ~ .menu__button {
    background: transparent;
    width: 25px;
    height: 25px;
  }
  .header .menu__checkbox:checked ~ .menu__button:before {
    transform: rotate(-45deg);
    top: 12px;
    height: 3px;
  }
  .header .menu__checkbox:checked ~ .menu__button:after {
    transform: rotate(45deg);
    top: 12px;
    height: 3px;
  }
  .header .menu__checkbox:checked ~ ul {
    display: block;
    position: absolute;
    width: 100%;
    padding: 1em;
    left: 0;
    top: 10vh;
    height: calc(100vh - 10vh);
    background: linear-gradient(to bottom, #343a40 0%, transparent 80%);
  }
  .header .menu__checkbox:checked ~ ul li {
    transition: all 0.5s ease;
    line-height: 1.5rem;
    text-align: center;
    background: white;
    padding: 0.5rem 0rem;
  }
  .header .menu__checkbox:checked ~ ul li a {
    display: block;
    text-decoration: none;
  }
  .header .menu__checkbox:checked ~ ul li a:hover {
    font-weight: 600;
    transition: all 0.5s ease;
    color: #fcb800;
  }
  .header .menu__checkbox:checked ~ ul li:first-of-type {
    padding-top: 2em;
    border-radius: 0.3em 0.3em 0 0;
  }
  .header .menu__checkbox:checked ~ ul li:last-of-type {
    padding-bottom: 2em;
    border-radius: 0 0 0.3em 0.3em;
  }
  .header .menu ul li a {
    font-weight: 300;
  }
  .header .menu__button {
    display: block;
    position: relative;
    height: 2px;
    width: 20px;
    background: #3a3838;
    content: "";
    cursor: pointer;
  }
  .header .menu__button:before, .header .menu__button:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    background: #3a3838;
    transition: all 0.5s ease;
  }
  .header .menu__button:before {
    top: -6px;
  }
  .header .menu__button:after {
    top: 6px;
  }
  .header .search_checkbox {
    display: none;
  }
  .header .search_checkbox:checked ~ .search {
    display: block;
    position: absolute;
    width: 100%;
    padding: 1em;
    left: 0;
    top: 0;
    height: 100vh;
    background: linear-gradient(to bottom, #343a40 0%, transparent 80%);
    z-index: 500;
    transition: all 0.5s ease;
  }
  .header .search_checkbox:checked ~ .search .close {
    color: white;
    font-size: 1.5rem;
    margin-left: 0.8rem;
    padding: 0.45rem 0;
    position: absolute;
    cursor: pointer;
  }
  .header .search_checkbox:checked ~ .search form {
    display: inline-flex;
    width: 80%;
    margin-left: 10%;
    /*background: $white;
    border-radius: 36px;*/
    overflow: hidden;
  }
  .header .search_checkbox:checked ~ .search form input, .header .search_checkbox:checked ~ .search form button {
    border: 0px;
    border-radius: 0px;
    cursor: pointer;
    outline: none;
  }
  .header .search_checkbox:checked ~ .search form input {
    cursor: initial;
  }
  .header .search_checkbox:checked ~ .search form button {
    padding: 0 1.5rem;
    background: #6c757d;
    color: #fff;
  }
  .header .search__button {
    font-size: 1.3rem;
    margin-right: 5px;
    cursor: pointer;
  }
}
@media screen and (max-width: 575.98px) {
  .header {
    padding: 0 0.5rem;
  }

  .account {
    display: flex;
    align-items: center;
    height: 5vh;
    max-width: 80%;
  }
  .account ul li {
    margin: 0 0.3rem;
  }
  .account ul li a i {
    font-size: 1.3rem !important;
    transition: all 0.2s ease;
  }
  .account ul li a i:hover {
    color: #fff;
  }
  .account .menu i {
    font-size: 1.2rem !important;
  }
}
/* style navbar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1rem;
  height: 4vh;
  background: #fcb800;
  padding: 1.5rem 2rem;
  border-top: 0.8px solid rgba(52, 58, 64, 0.2);
}
.navbar ul {
  display: flex;
}
.navbar ul li {
  padding: 0 1rem;
}
.navbar ul li a {
  text-decoration: none;
  color: #343a40;
  font-size: 1.2rem;
  font-weight: 300;
  transition: all 0.1s ease;
}
.navbar ul li a:hover {
  font-weight: 600;
  cursor: pointer;
}
.navbar .search {
  width: 50%;
}
.navbar .search .form {
  display: flex;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
}
.navbar .search .form input, .navbar .search .form button, .navbar .search .form select {
  background: transparent;
  border: 0px;
  border-radius: 0px;
  cursor: pointer;
  outline: none;
}
.navbar .search .form select {
  width: auto;
  border-right: 0.5px solid rgba(108, 117, 125, 0.7);
  padding-right: 0.3rem;
}
.navbar .search .form input {
  cursor: initial;
}
.navbar .search .form button {
  padding: 0 1.5rem;
  background: #343a40;
  color: #fff;
}

/*style bottom navigation*/
.bottom-nav {
  display: none;
  position: fixed;
  z-index: 1000;
  bottom: 0;
  width: 100%;
  background: white;
  border-top: 1px solid rgba(108, 117, 125, 0.2);
  padding: 0.8rem 0;
}
.bottom-nav ul {
  display: flex;
}
.bottom-nav ul li {
  line-height: 1rem;
  width: calc(100% / 4);
  text-align: center;
}
.bottom-nav ul li span, .bottom-nav ul li a {
  display: block;
  cursor: pointer;
}
.bottom-nav ul li a {
  text-decoration: none;
  color: #343a40;
  transition: all 0.5s ease;
}
.bottom-nav ul li a:hover {
  color: #fcb800;
}

@media screen and (max-width: 767.98px) {
  .navbar {
    display: none;
  }
}
@media screen and (max-width: 575.98px) {
  .bottom-nav {
    display: block;
  }
}
.carousel {
  width: 100%;
}
.carousel .slide-container {
  /*max-width: 1000px;*/
  height: 70vh;
  min-height: 50vh;
  position: relative;
}
.carousel .slide-container .slide {
  display: none;
  background: rgba(255, 255, 255, 0.4);
  z-index: 1;
  position: relative;
  height: 100%;
  width: 100%;
}
.carousel .slide-container .slide img {
  width: 100%;
  min-height: 100%;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 10;
}
.carousel .slide-container .slide .body {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 50%;
  z-index: 100;
  padding: 0 1rem;
}
.carousel .slide-container .slide .body span {
  color: #33b5e5;
}
.carousel .slide-container .slide .body span.price {
  color: #ff818d;
}
.carousel .slide-container .slide .body p {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.4rem;
  margin: 0.5rem 0;
}
.carousel .slide-container .slide.active {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
.carousel .slide-container .options {
  z-index: 1000;
  text-align: left;
  left: 20%;
  bottom: 5%;
  position: absolute;
}
.carousel .slide-container .options .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: all 0.5s ease;
}
.carousel .slide-container .options .dot.active {
  border-radius: 16px;
  background-color: #fcb800;
  width: 30px;
}
.carousel .slide-container .options .dot:hover {
  background-color: #fcb800;
}

/*style products*/
.product-container {
  padding: 0.5rem 0;
}

/*style product right to carousel*/
.card-product {
  padding: 0;
  margin: 0.2rem;
  min-height: 5vh;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
}
.card-product:hover {
  box-shadow: 2px 5px 10px rgba(52, 58, 64, 0.2);
}
.card-product img {
  display: block;
  max-width: 100%;
  height: auto;
}
.card-product .content {
  padding: 1rem;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
}
.card-product .content span {
  font-size: 1.5rem;
  text-align: left;
  width: 50%;
  line-height: 1;
}
.card-product .content span.offer {
  font-size: 1rem;
  position: absolute;
  right: 20%;
  top: 15%;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  padding: 0.5rem;
  background: rgba(252, 184, 0, 0.999);
}

@media (max-width: 992px) {
  .product-container {
    display: none;
  }

  .col-9 {
    width: 100%;
    flex: 0 0 100% !important;
  }

  .slide {
    min-height: 35vh !important;
    position: initial;
  }
  .slide .body p {
    font-size: 1.2rem !important;
  }
}
@media (max-width: 767.98px) {
  .slide {
    min-height: 25vh !important;
    position: initial;
    background: rgba(255, 255, 255, 0.6);
  }
  .slide .body {
    width: 70% !important;
    left: 3% !important;
  }
  .slide .body p {
    font-size: 0.7rem !important;
    margin: 0.1rem 0 !important;
  }

  .button {
    padding: 3px 10px !important;
    font-size: 15px;
  }
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.card.product {
  /*position: relative;*/
  box-shadow: 2px 5px 10px rgba(52, 58, 64, 0.2);
  border-radius: 4px;
  overflow: hidden;
  user-select: none;
  /*cursor: pointer;*/
  background: #fff;
  /*padding: .4rem;*/
  transition: all 0.5s ease;
}
.card.product:hover {
  box-shadow: 4px 7px 13px 1px rgba(52, 58, 64, 0.4);
}
.card.product .image {
  display: block;
  width: 100%;
  height: 70%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.card.product .image img {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
  z-index: -1;
}
.card.product .image .more {
  width: 100%;
  height: 100%;
  left: 0;
}
.card.product .image .card-option {
  cursor: pointer;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
}
.card.product .image .card-option .favorite {
  position: absolute;
  bottom: 10px;
  right: -35px;
  width: 30px;
  height: 30px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  padding: 2.5px;
  cursor: pointer;
  text-decoration: none;
  color: #343a40;
  line-height: 1.5rem;
  transition: all 0.2s ease;
  transition: all 0.5s ease;
  line-height: 30px;
  text-align: center;
}
.card.product .image .card-option .favorite:hover i {
  color: #fcb800;
}
.card.product .image .card-option:hover .favorite {
  right: 5px;
}
.card.product .description {
  display: block;
  height: calc(100% - 70%);
}
.card.product .description .content-price {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}
.card.product .description .content-price span {
  line-height: 1.5rem;
  font-weight: 600;
}
.card.product .description .content-price span.price_old {
  margin-left: 1rem;
  color: #ff4343;
  text-decoration: line-through;
}
.card.product .description p {
  display: -webkit-box;
  line-height: 1.5rem;
  margin: 0;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
}
.card.product .description p.large {
  display: none;
}
.card.product .offer {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  padding: 0.2rem 0.6rem;
  background: #ff4343;
  color: #fff;
}

@media (max-width: 576px) {
  .card.product {
    margin: 0 auto;
  }
  .card.product .image {
    height: 75%;
  }
  .card.product .image img {
    margin: 0 auto;
  }
  .card.product .image:hover img {
    transform: scale(1);
  }
  .card.product .description {
    height: 25%;
  }
}
/*style modal view product*/
.view-product {
  width: 100%;
  max-height: 100%;
  display: grid;
  grid-template-columns: 50% auto;
}
.view-product .images, .view-product .description {
  max-height: 100%;
}
.view-product .images {
  padding-right: 0;
}
.view-product .images .content {
  width: 100%;
  height: 100%;
  max-height: 430px;
  overflow: hidden;
}
.view-product .images .content .img-zoom {
  width: 100%;
  height: 100%;
  display: none;
  cursor: zoom-in;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.view-product .images .content .img-zoom.active {
  display: inline-block;
}
.view-product .images .content .img-zoom:hover {
  background-size: 250%;
}
.view-product .description {
  padding: 0.2rem 1rem;
  overflow-y: auto;
}
.view-product .description h2 {
  margin: 0;
  font-weight: bold;
  margin-bottom: 0.4rem;
}
.view-product .description h4 {
  margin: 0;
  margin-bottom: 0.5rem;
}
.view-product .description .content-price {
  line-height: 2rem;
  font-size: 1.2rem;
}
.view-product .description .content-price span {
  font-weight: 600;
}
.view-product .description .content-price span.price {
  font-size: 1.5rem;
  color: #ff4343;
}
.view-product .description .content-price span.price_old {
  color: #6c757d;
  margin-left: 2rem;
  text-decoration: line-through;
  position: relative;
}
.view-product .description .content-price span.price_old:before {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  margin-left: -1.2rem;
  bottom: 9px;
  line-height: 2rem;
  width: 12px;
  height: 2px;
  background: #6c757d;
}
.view-product .description strong {
  font-size: 1.3rem;
  text-transform: capitalize;
  display: block;
}
.view-product .description p {
  margin: 0;
  margin-bottom: 1rem;
}
.view-product .description .colors {
  display: inline-flex;
}
.view-product .description .colors .color-item {
  line-height: 2rem;
  width: 20px;
  height: 20px;
  margin: 0 0.2rem;
  border-radius: 50%;
  cursor: pointer;
}
.view-product .description .colors .color-item.active {
  border: 2px solid #f8f9fa;
  box-shadow: 0 0px 8px 0px rgba(108, 117, 125, 0.6);
}
.view-product .description .option {
  display: flex;
  align-items: center;
  line-height: 2rem;
}
.view-product .description .option input {
  text-align: center;
  max-width: 60px;
  line-height: 1.5rem;
  padding: 0.4rem;
  font-size: 1.2rem;
  font-weight: 600;
  border: 2px solid #343a40;
  border-radius: 2px;
}

#content-header input {
  display: none;
}
#content-header label {
  color: rgba(52, 58, 64, 0.5);
  transition: all 0.5s ease;
  cursor: pointer;
}
#content-header label.active {
  color: #343a40;
}

.container-shop-products {
  /*max-height: 80vh;
  overflow-y: auto;*/
}
.container-shop-products.large {
  transition: all 1s ease;
}
.container-shop-products.large > .col-sm-6, .container-shop-products.large > .col-md-6, .container-shop-products.large > .col-lg-4, .container-shop-products.large > .col-product {
  flex-basis: 100% !important;
}
.container-shop-products.large > .col-sm-6 .card, .container-shop-products.large > .col-md-6 .card, .container-shop-products.large > .col-lg-4 .card, .container-shop-products.large > .col-product .card {
  display: flex;
  justify-content: space-between;
  transition: all 1s ease;
  animation: 0.5s width ease-in-out;
  text-align: left;
  padding: 1rem;
}
.container-shop-products.large > .col-sm-6 .card .image, .container-shop-products.large > .col-md-6 .card .image, .container-shop-products.large > .col-lg-4 .card .image, .container-shop-products.large > .col-product .card .image {
  height: 100%;
  width: 40%;
  overflow: hidden;
}
.container-shop-products.large > .col-sm-6 .card .description, .container-shop-products.large > .col-md-6 .card .description, .container-shop-products.large > .col-lg-4 .card .description, .container-shop-products.large > .col-product .card .description {
  width: 60%;
  padding: 0.5rem;
}
.container-shop-products.large > .col-sm-6 .card .description p, .container-shop-products.large > .col-md-6 .card .description p, .container-shop-products.large > .col-lg-4 .card .description p, .container-shop-products.large > .col-product .card .description p {
  font-weight: 600;
  font-size: 1.8rem;
  text-align: left;
  margin-bottom: 0.4rem;
}
.container-shop-products.large > .col-sm-6 .card .description p.large, .container-shop-products.large > .col-md-6 .card .description p.large, .container-shop-products.large > .col-lg-4 .card .description p.large, .container-shop-products.large > .col-product .card .description p.large {
  display: block;
  font-weight: 400;
  font-size: 1rem;
  display: -webkit-box;
  line-height: 1.5rem;
  margin-bottom: 0.8rem;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container-shop-products.large > .col-sm-6 .card .description .content-price, .container-shop-products.large > .col-md-6 .card .description .content-price, .container-shop-products.large > .col-lg-4 .card .description .content-price, .container-shop-products.large > .col-product .card .description .content-price {
  justify-content: flex-start;
  width: 100%;
}
.container-shop-products.large > .col-sm-6 .card .description .content-price span, .container-shop-products.large > .col-md-6 .card .description .content-price span, .container-shop-products.large > .col-lg-4 .card .description .content-price span, .container-shop-products.large > .col-product .card .description .content-price span {
  font-size: 1.6rem;
}
.container-shop-products.large > .col-sm-6 .card .description .content-price span.price, .container-shop-products.large > .col-md-6 .card .description .content-price span.price, .container-shop-products.large > .col-lg-4 .card .description .content-price span.price, .container-shop-products.large > .col-product .card .description .content-price span.price {
  margin-right: 0.5rem;
}
@keyframes width {
  0% {
    height: 0%;
    /*width: 0%;*/
  }
  100% {
    height: 100%;
    /*width: 100%;*/
  }
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 8.3333333333%;
}

.col-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.3333333333%;
  flex: 0 0 8.3333333333%;
  width: 8.3333333333%;
}

.col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.6666666667%;
  flex: 0 0 16.6666666667%;
  width: 16.6666666667%;
}

.col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  width: 25%;
}

.col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.3333333333%;
  flex: 0 0 33.3333333333%;
  width: 33.3333333333%;
}

.col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.6666666667%;
  flex: 0 0 41.6666666667%;
  width: 41.6666666667%;
}

.col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  width: 50%;
}

.col-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.3333333333%;
  flex: 0 0 58.3333333333%;
  width: 58.3333333333%;
}

.col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.6666666667%;
  flex: 0 0 66.6666666667%;
  width: 66.6666666667%;
}

.col-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  width: 75%;
}

.col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.3333333333%;
  flex: 0 0 83.3333333333%;
  width: 83.3333333333%;
}

.col-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.6666666667%;
  flex: 0 0 91.6666666667%;
  width: 91.6666666667%;
}

.col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  width: 100%;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 10px;
}

.m-0 {
  margin: 0;
}

.col-1 {
  flex-basis: 8.333%;
}

.col-2 {
  flex-basis: 16.666%;
}

.col-3 {
  flex-basis: 25%;
}

.col-4 {
  flex-basis: 33.333%;
}

.col-5 {
  flex-basis: 41.666%;
}

.col-6 {
  flex-basis: 50%;
}

@media (max-width: 575.92px) {
  .row {
    padding: 0;
  }

  .col-sm-1, .col-md-1, .col-lg-1, .col-xl-1 {
    flex-basis: 80%;
    margin: 0 auto;
  }

  .col-sm-2, .col-md-2, .col-lg-2, .col-xl-2 {
    flex-basis: 80%;
    margin: 0 auto;
  }

  .col-sm-3, .col-md-3, .col-lg-3, .col-xl-3 {
    flex-basis: 80%;
    margin: 0 auto;
  }

  .col-sm-4, .col-md-4, .col-lg-4, .col-xl-4 {
    flex-basis: 80%;
    margin: 0 auto;
  }

  .col-sm-5, .col-md-5, .col-lg-5, .col-xl-5 {
    flex-basis: 80%;
    margin: 0 auto;
  }

  .col-sm-6, .col-md-6, .col-lg-6, .col-xl-6 {
    flex-basis: 80%;
    margin: 0 auto;
  }

  .col-sm-7, .col-md-7, .col-lg-7, .col-xl-7 {
    flex-basis: 80%;
    margin: 0 auto;
  }

  .col-sm-8, .col-md-8, .col-lg-8, .col-xl-8 {
    flex-basis: 80%;
    margin: 0 auto;
  }

  .col-sm-9, .col-md-9, .col-lg-9, .col-xl-9 {
    flex-basis: 80%;
    margin: 0 auto;
  }

  .col-sm-10, .col-md-10, .col-lg-10, .col-xl-10 {
    flex-basis: 80%;
    margin: 0 auto;
  }

  .col-sm-11, .col-md-11, .col-lg-11, .col-xl-11 {
    flex-basis: 80%;
    margin: 0 auto;
  }

  .col-sm-12, .col-md-12, .col-lg-12, .col-xl-12 {
    flex-basis: 80%;
    margin: 0 auto;
  }
}
@media (min-width: 576px) {
  .col-sm-1 {
    flex-basis: 8.3333333333%;
  }

  .col-sm-2 {
    flex-basis: 16.6666666667%;
  }

  .col-sm-3 {
    flex-basis: 25%;
  }

  .col-sm-4 {
    flex-basis: 33.3333333333%;
  }

  .col-sm-5 {
    flex-basis: 41.6666666667%;
  }

  .col-sm-6 {
    flex-basis: 50%;
  }

  .col-sm-7 {
    flex-basis: 58.3333333333%;
  }

  .col-sm-8 {
    flex-basis: 66.6666666667%;
  }

  .col-sm-9 {
    flex-basis: 75%;
  }

  .col-sm-10 {
    flex-basis: 83.3333333333%;
  }

  .col-sm-11 {
    flex-basis: 91.6666666667%;
  }

  .col-sm-12 {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    flex-basis: 8.3333333333%;
  }

  .col-md-2 {
    flex-basis: 16.6666666667%;
  }

  .col-md-3 {
    flex-basis: 25%;
  }

  .col-md-4 {
    flex-basis: 33.3333333333%;
  }

  .col-md-5 {
    flex-basis: 41.6666666667%;
  }

  .col-md-6 {
    flex-basis: 50%;
  }

  .col-md-7 {
    flex-basis: 58.3333333333%;
  }

  .col-md-8 {
    flex-basis: 66.6666666667%;
  }

  .col-md-9 {
    flex-basis: 75%;
  }

  .col-md-10 {
    flex-basis: 83.3333333333%;
  }

  .col-md-11 {
    flex-basis: 91.6666666667%;
  }

  .col-md-12 {
    flex-basis: 100%;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    flex-basis: 8.3333333333%;
  }

  .col-lg-2 {
    flex-basis: 16.6666666667%;
  }

  .col-lg-3 {
    flex-basis: 25%;
  }

  .col-lg-4 {
    flex-basis: 33.3333333333%;
  }

  .col-lg-5 {
    flex-basis: 41.6666666667%;
  }

  .col-lg-6 {
    flex-basis: 50%;
  }

  .col-lg-7 {
    flex-basis: 58.3333333333%;
  }

  .col-lg-8 {
    flex-basis: 66.6666666667%;
  }

  .col-lg-9 {
    flex-basis: 75%;
  }

  .col-lg-10 {
    flex-basis: 83.3333333333%;
  }

  .col-lg-11 {
    flex-basis: 91.6666666667%;
  }

  .col-lg-12 {
    flex-basis: 100%;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    flex-basis: 8.3333333333%;
  }

  .col-xl-2 {
    flex-basis: 16.6666666667%;
  }

  .col-xl-3 {
    flex-basis: 25%;
  }

  .col-xl-4 {
    flex-basis: 33.3333333333%;
  }

  .col-xl-5 {
    flex-basis: 41.6666666667%;
  }

  .col-xl-6 {
    flex-basis: 50%;
  }

  .col-xl-7 {
    flex-basis: 58.3333333333%;
  }

  .col-xl-8 {
    flex-basis: 66.6666666667%;
  }

  .col-xl-9 {
    flex-basis: 75%;
  }

  .col-xl-10 {
    flex-basis: 83.3333333333%;
  }

  .col-xl-11 {
    flex-basis: 91.6666666667%;
  }

  .col-xl-12 {
    flex-basis: 100%;
  }
}
.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.d-inline-block {
  display: inline-block;
}

.d-none {
  display: none;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  justify-content: flex-start;
}

.align-items-end {
  justify-content: flex-end;
}

/*spacing margin & padding */
.p-0 {
  padding: 0rem;
}

.pt-0, .py-0 {
  padding-top: 0rem;
}

.pb-0, .py-0 {
  padding-bottom: 0rem;
}

.pr-0, .px-0 {
  padding-right: 0rem;
}

.pl-0, .px-0 {
  padding-left: 0rem;
}

.p-1 {
  padding: 0.25rem;
}

.pt-1, .py-1 {
  padding-top: 0.25rem;
}

.pb-1, .py-1 {
  padding-bottom: 0.25rem;
}

.pr-1, .px-1 {
  padding-right: 0.25rem;
}

.pl-1, .px-1 {
  padding-left: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.pt-2, .py-2 {
  padding-top: 0.5rem;
}

.pb-2, .py-2 {
  padding-bottom: 0.5rem;
}

.pr-2, .px-2 {
  padding-right: 0.5rem;
}

.pl-2, .px-2 {
  padding-left: 0.5rem;
}

.p-3 {
  padding: 1.8rem;
}

.pt-3, .py-3 {
  padding-top: 1.8rem;
}

.pb-3, .py-3 {
  padding-bottom: 1.8rem;
}

.pr-3, .px-3 {
  padding-right: 1.8rem;
}

.pl-3, .px-3 {
  padding-left: 1.8rem;
}

.p-4 {
  padding: 2.4rem;
}

.pt-4, .py-4 {
  padding-top: 2.4rem;
}

.pb-4, .py-4 {
  padding-bottom: 2.4rem;
}

.pr-4, .px-4 {
  padding-right: 2.4rem;
}

.pl-4, .px-4 {
  padding-left: 2.4rem;
}

.p-5 {
  padding: 3rem;
}

.pt-5, .py-5 {
  padding-top: 3rem;
}

.pb-5, .py-5 {
  padding-bottom: 3rem;
}

.pr-5, .px-5 {
  padding-right: 3rem;
}

.pl-5, .px-5 {
  padding-left: 3rem;
}

@media (min-width: 576px) {
  .p-sm-1 {
    padding: 0.6rem;
  }

  .pt-sm-1, .py-sm-1 {
    padding-top: 0.6rem;
  }

  .pb-sm-1, .py-sm-1 {
    padding-bottom: 0.6rem;
  }

  .pr-sm-1, .px-sm-1 {
    padding-right: 0.6rem;
  }

  .pl-sm-1, .px-sm-1 {
    padding-left: 0.6rem;
  }

  .p-sm-2 {
    padding: 1.2rem;
  }

  .pt-sm-2, .py-sm-2 {
    padding-top: 1.2rem;
  }

  .pb-sm-2, .py-sm-2 {
    padding-bottom: 1.2rem;
  }

  .pr-sm-2, .px-sm-2 {
    padding-right: 1.2rem;
  }

  .pl-sm-2, .px-sm-2 {
    padding-left: 1.2rem;
  }

  .p-sm-3 {
    padding: 1.8rem;
  }

  .pt-sm-3, .py-sm-3 {
    padding-top: 1.8rem;
  }

  .pb-sm-3, .py-sm-3 {
    padding-bottom: 1.8rem;
  }

  .pr-sm-3, .px-sm-3 {
    padding-right: 1.8rem;
  }

  .pl-sm-3, .px-sm-3 {
    padding-left: 1.8rem;
  }

  .p-sm-4 {
    padding: 2.4rem;
  }

  .pt-sm-4, .py-sm-4 {
    padding-top: 2.4rem;
  }

  .pb-sm-4, .py-sm-4 {
    padding-bottom: 2.4rem;
  }

  .pr-sm-4, .px-sm-4 {
    padding-right: 2.4rem;
  }

  .pl-sm-4, .px-sm-4 {
    padding-left: 2.4rem;
  }

  .p-sm-5 {
    padding: 3rem;
  }

  .pt-sm-5, .py-sm-5 {
    padding-top: 3rem;
  }

  .pb-sm-5, .py-sm-5 {
    padding-bottom: 3rem;
  }

  .pr-sm-5, .px-sm-5 {
    padding-right: 3rem;
  }

  .pl-sm-5, .px-sm-5 {
    padding-left: 3rem;
  }
}
/*style margin*/
.m-0 {
  margin: 0rem;
}

.mt-0, .my-0 {
  margin-top: 0rem;
}

.mb-0, .my-0 {
  margin-bottom: 0rem;
}

.mr-0, .mx-0 {
  margin-right: 0rem;
}

.ml-0, .mx-0 {
  margin-left: 0rem;
}

.m-1 {
  margin: 0.6rem;
}

.mt-1, .my-1 {
  margin-top: 0.6rem;
}

.mb-1, .my-1 {
  margin-bottom: 0.6rem;
}

.mr-1, .mx-1 {
  margin-right: 0.6rem;
}

.ml-1, .mx-1 {
  margin-left: 0.6rem;
}

.m-2 {
  margin: 1.2rem;
}

.mt-2, .my-2 {
  margin-top: 1.2rem;
}

.mb-2, .my-2 {
  margin-bottom: 1.2rem;
}

.mr-2, .mx-2 {
  margin-right: 1.2rem;
}

.ml-2, .mx-2 {
  margin-left: 1.2rem;
}

.m-3 {
  margin: 1.8rem;
}

.mt-3, .my-3 {
  margin-top: 1.8rem;
}

.mb-3, .my-3 {
  margin-bottom: 1.8rem;
}

.mr-3, .mx-3 {
  margin-right: 1.8rem;
}

.ml-3, .mx-3 {
  margin-left: 1.8rem;
}

.m-4 {
  margin: 2.4rem;
}

.mt-4, .my-4 {
  margin-top: 2.4rem;
}

.mb-4, .my-4 {
  margin-bottom: 2.4rem;
}

.mr-4, .mx-4 {
  margin-right: 2.4rem;
}

.ml-4, .mx-4 {
  margin-left: 2.4rem;
}

.m-5 {
  margin: 3rem;
}

.mt-5, .my-5 {
  margin-top: 3rem;
}

.mb-5, .my-5 {
  margin-bottom: 3rem;
}

.mr-5, .mx-5 {
  margin-right: 3rem;
}

.ml-5, .mx-5 {
  margin-left: 3rem;
}

@media (min-width: 576px) {
  .m-sm-1 {
    margin: 0.6rem;
  }

  .mt-sm-1, .my-sm-1 {
    margin-top: 0.6rem;
  }

  .mb-sm-1, .my-sm-1 {
    margin-bottom: 0.6rem;
  }

  .mr-sm-1, .mx-sm-1 {
    margin-right: 0.6rem;
  }

  .ml-sm-1, .mx-sm-1 {
    margin-left: 0.6rem;
  }

  .m-sm-2 {
    margin: 1.2rem;
  }

  .mt-sm-2, .my-sm-2 {
    margin-top: 1.2rem;
  }

  .mb-sm-2, .my-sm-2 {
    margin-bottom: 1.2rem;
  }

  .mr-sm-2, .mx-sm-2 {
    margin-right: 1.2rem;
  }

  .ml-sm-2, .mx-sm-2 {
    margin-left: 1.2rem;
  }

  .m-sm-3 {
    margin: 1.8rem;
  }

  .mt-sm-3, .my-sm-3 {
    margin-top: 1.8rem;
  }

  .mb-sm-3, .my-sm-3 {
    margin-bottom: 1.8rem;
  }

  .mr-sm-3, .mx-sm-3 {
    margin-right: 1.8rem;
  }

  .ml-sm-3, .mx-sm-3 {
    margin-left: 1.8rem;
  }

  .m-sm-4 {
    margin: 2.4rem;
  }

  .mt-sm-4, .my-sm-4 {
    margin-top: 2.4rem;
  }

  .mb-sm-4, .my-sm-4 {
    margin-bottom: 2.4rem;
  }

  .mr-sm-4, .mx-sm-4 {
    margin-right: 2.4rem;
  }

  .ml-sm-4, .mx-sm-4 {
    margin-left: 2.4rem;
  }

  .m-sm-5 {
    margin: 3rem;
  }

  .mt-sm-5, .my-sm-5 {
    margin-top: 3rem;
  }

  .mb-sm-5, .my-sm-5 {
    margin-bottom: 3rem;
  }

  .mr-sm-5, .mx-sm-5 {
    margin-right: 3rem;
  }

  .ml-sm-5, .mx-sm-5 {
    margin-left: 3rem;
  }
}

/*# sourceMappingURL=styles.css.map */
